<!DOCTYPE html>
<html>
  <head>
    <title>FindShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-Xv6AwInjK_Iwu0g9GnEXr6xRKBiDLFw&callback=initMap&v=weekly"
      defer
    ></script>
</html>
