<!DOCTYPE html>
<html>
  <head>
    <title>FindShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map[:google_map_api]%>&callback=initMap&v=weekly"
      defer
    ></script>
</html>
